.box_side {
    height: 98vh;
    background: #383737;
    padding-top: 80px;
  }
  
  .list-group-flush .list-group-item {
    background: #383737;
  }
  
  .list-group-flush .list-group-item a {
    color: #fff !important;
    font-size: 20px;
    display: block;
    margin-left: 20px;
    text-decoration: none;
  }
  