<div class="box_side">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a routerLink="/backend">แดชบอร์ด</a></li>
        <li class="list-group-item"><a routerLink="/backend/category">หมวดหมู่</a></li>
        <li class="list-group-item"><a routerLink="/backend/product">สินค้า</a></li>
        <li class="list-group-item"><a routerLink="/backend/report">รายงาน</a></li>
        <li class="list-group-item"><a routerLink="/backend/users">ผู้ใช้</a></li>
        <li class="list-group-item"><a routerLink="/backend/settings">ตั้งค่า</a></li>
      </ul>
</div>