<div class="container-fluid" style="margin-top:100px">
    <p class="text-center my-5"><a routerLink="" class="text-secondary text-decoration-none"><i class="fas fa-arrow-left"></i> &nbsp;กลับหน้าหลัก</a></p>
    <div class="rounded d-flex justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-3 shadow-lg p-5 bg-light">
            <form action="/backend/dashboard" method="POST">
                <div class="py-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="far fa-user text-light"></i>
                        </span>
                        <input type="text" 
                        class="form-control"
                        name="username" 
                        id="username" 
                        placeholder="Username">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text bg-primary">
                            <i class="fas fa-lock text-light"></i>
                        </span>
                        <input type="password" 
                        class="form-control" 
                        name="password" 
                        id="password" 
                        placeholder="Password">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            จำฉันไว้
                        </label>
                    </div>
                    <a routerLink="/backend/dashboard" class="btn btn-primary text-center mt-3 w-100" name="login" type="submit">
                        เข้าสู่ระบบ
                    </a>
                    <p class="text-center mt-5">ยังไม่เป็นสมาชิก ?
                        <a routerLink="/auth/register" class="text-primary text-decoration-none" href="#">ลงทะเบียนฟรี</a>
                    </p>
                    <p class="text-center">
                        <a routerLink="/auth/forgotpass" class="text-primary text-decoration-none" href="#">ลืมรหัสผ่าน ?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>