<div class="mb-4 d-sm-flex align-items-center justify-content-between">
    <h1 class="mb-0 text-gray-800">รายการสินค้า</h1>

    <div>
        <a href="/backend/create_category" class="shadow-sm d-none d-sm-inline-block btn btn-lg btn-success"><i class="fas fa-plus fa-sm text-white-50"></i> เพิ่มรายการ</a>
    </div>

</div>

<table class="table table-bordered table-striped table-hover mt-4">
    <thead>
        <tr class="text-white bg-primary">
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Qty</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><img src="https://cdn.siamphone.com/spec/apple/images/ipad_pro_12.9%E2%80%91inch/com_1.jpg" width="50"></td>
            <td>iPad Pro 2021</td>
            <td>Tablet</td>
            <td>18,500.00	</td>
            <td>10</td>
            <td>20/11/2021 00:00:00</td>
            <td>20/11/2021 00:00:00</td>
            <td style="width: 200px;">
                <a role="button" class="btn btn-warning text-white"><i class="fas fa-edit"></i> Edit</a>&nbsp;
                <a role="button" class="btn btn-danger text-white" role="button"><i class="fas fa-trash-alt"></i> Delete</a>
            </td>
        </tr>
    </tbody>
</table>